.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(60, 6, 60);
  width: 100%;
  max-width: var(--section__size);
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.34);
  border: solid rgb(45, 5, 45);
  border-radius: 18px;
}

.projects__options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 12px;
}

.projects__option {
  display: flex;
  flex-direction: column;
  background-color: rgb(60, 6, 60);
  align-items: center;
  border: solid rgb(51, 5, 51);
  border-radius: 12px;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  margin: 0.8em;
  width: 35em;
}

.projects__option:hover {
  background-color: rgb(70, 5, 70);
  transform: scale(1.05);
}

.projects__optionImage {
  position: relative;
  width: 560px;
  height: 290px;
  transform: scale(1);
  border-radius: 12px;
  border-bottom: solid rgb(51, 5, 51);
}

.projects__imageSource {
  border-radius: 12px;
  opacity: 65%;
  transition-property: opacity;
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

.projects__imageSource:hover {
  opacity: 100%;
}

.projects__optionDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding: 0px 0.75em;
  width: 94%;
}

.projects__optionDescription > h3 {
  margin: 0;
  margin: 0.5em 0;
}

.projects__optionDescription > h5 {
  text-align: center;
  margin: 0em;
  border-bottom: solid rgb(51, 5, 51);
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.projects__optionDescription > p {
  text-align: center;
  margin: 0em;
  font-style: italic;
}

.projects__optionButtons {
  display: flex;
  justify-content: space-evenly;
}

.projects__optionButton {
  background-color: rgb(70, 6, 70);
  text-align: center;
  border: solid rgb(51, 5, 51);
  border-radius: 12px;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.2);
  padding: 0.6em;
  margin: 0.8em;
  cursor: pointer;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-duration: 150ms;
  transition-timing-function: ease-out;
}

.projects__optionButton:hover {
  background-color: rgb(80, 5, 80);
  transform: scale(1.01);
}

.projects__optionButton:active {
  background-color: rgb(65, 5, 65);
  transform: scale(0.98);
  color: var(--active__fontColor);
}

@media (max-width: 614px) {
  .projects__option {
    width: 28em;
  }

  .projects__optionImage {
    width: 448px;
    height: 232px;
  }
}
